* {
  margin: 0;
  padding: 0;
}

.logo {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img {
  width: 50%;
  border: 3px solid white;
  border-radius: 90%;
  -webkit-border-radius: 90%;
  -moz-border-radius: 90%;
  -ms-border-radius: 90%;
  -o-border-radius: 90%;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  cursor: pointer;
}
.nav-list {
  width: 50%;
  /* background-color:black; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-list li {
  list-style: none;
  padding: 26px 30px;
}

.nav-list li a {
  text-decoration: none;
  color: white;
}
.nav-list li a:hover {
  text-decoration: none;
  color: grey;
}
.rightNav {
  /* background-color: aqua; */
  width: 50%;
  text-align: right;
}

#search {
  padding: 5px;
  font-size: 17px;
  border: 2px solid grey;
  border-radius: 9px;
}

.background {
  background: rgba(0, 0, 0, 0.7) url("../img/bg-2.jpg");
  background-size: cover;
  background-blend-mode: darken;
}

.firstSection {
  height: 110vh;
}

.box-main {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serifq;
  max-width: 40%;
  height: 70%;
  margin: auto;
}

.firstHalf {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.secondHalf {
  width: 30%;
}

.secondHalf img {
  width: 40%;
  border: 2px solid white;
  border-radius: 160px;
  -moz-border-radius: 160px;
  -ms-border-radius: 160px;
  -o-border-radius: 160px;
  -webkit-border-radius: 160px;
  display: block;
  margin: auto;
}

.text-big {
  font-size: 25px;
}

.text-small {
  font-size: 16px;
}

.btn {
  padding: 7px 18px;
  margin: 7px 0;
  border: 2px solid white;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  background: none;
  color: white;
}
